#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
.tamaño1
{
  width: 370px;
  height: 80px;
  background-color:grey;
}
.tamaño2
{
  width: 370px;
  height: 80px;
  background-color: lightgrey;
}
.fondoparatodo
{
  display: block;
  width: 100vh;
  height: 100vh;
  background-color: #eb7e46;
}
.ocupararribayabajo
{
  width: 100vh;
  height: 60px;
  background-color:  black;
}
img
{
   width: 370px;
   height: 300px;
   background-color:rgb(255, 119, 0);
}
.revisacion
{
  display: block;
  width: 100vh;
  height: 100vh;
  background-color: black;
}
h1
{
  display: inline;
  margin-left: 80px;
}
.clasecostado
{
  display: block;
  margin-left: 290px;
  width: 70px;
  height: 50px;
}
