<ion-content [fullscreen]="true">
  <img class="agrandar" src="../../assets/alarma.png" alt="">
  <ion-list>
    <div class="container">
    <ion-radio-group value="biff">
      <div class="row">
        <div class="col-6 bloque">
      <ion-item>
        <ion-label>admin</ion-label>
        <ion-radio slot="start" value="Admin"(click) = "setiar('admin@test.com','123456')" ></ion-radio>
      </ion-item>
    </div>
    <div class="col-6 bloque">
      <ion-item>
        <ion-label>Invitado</ion-label>
        <ion-radio slot="start" value="Invitado" (click) = "setiar('invitado@test.com','123456')" ></ion-radio>
      </ion-item>
    </div> 
  </div>
  <div class="row">
    <div class="col-6 bloque">
  <ion-item>
    <ion-label>Usuario</ion-label>
    <ion-radio slot="start" value="Usuario" (click) = "setiar('usuario@test.com','123456')"></ion-radio>
  </ion-item>
</div>
<div class="col-6 bloque">
  <ion-item>
    <ion-label>Anonimo</ion-label>
    <ion-radio slot="start" value="Anonimo" (click) = "setiar('anonimo@test.com','123456')"></ion-radio>
  </ion-item>
</div> 
</div>
 <div class="row">
    <div class="col-6 bloque">
  <ion-item>
    <ion-label>Correo</ion-label>
    <ion-radio slot="start" value="Correo" (click) = "setiar('correo@test.com','123456')"></ion-radio>
  </ion-item>
</div>
<div class="col-6 bloque">
  <ion-item>
    <ion-label>Extra</ion-label>
    <ion-radio slot="start" value="Extra" (click) = "setiar('extra@test.com','123456')"></ion-radio>
  </ion-item>
</div> 
</div>
    </ion-radio-group>
  </div>
  </ion-list>
  <ion-item>
    <ion-label position="floating">Correo</ion-label>
    <ion-input type="text"[(ngModel)] = "email" name="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input type="text"[(ngModel)] = "password" name="password"></ion-input>
  </ion-item>
  <br>
  <ion-button class="ag" (click)="OnSubmitLogin()" expand="block">Ingresar</ion-button>
  <ion-button class="ag" (click)="OnSubmitClear()" expand="block">Limpiar</ion-button>
</ion-content> 
<ngx-spinner *ngIf = "spn"
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>