<ion-content class="seteri">
  <ion-list>
    <div  class="list-group-item"
    *ngFor="let mensaje of listadoMensajes; let i = index"
    [class.active]="i == currentIndex" >
    <ion-list class="movedora2" *ngIf = "mensaje.email == ''">
    {{mensaje.mensaje}}
    <br>
     {{ mensaje.fecha }}  
  </ion-list>
   <ion-list class="movedora" *ngIf = "mensaje.email != ''">
    {{mensaje.email}} : {{mensaje.mensaje}}
    <br>
     {{ mensaje.fecha }}  
  </ion-list> 
</div>
  </ion-list>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
  </ion-infinite-scroll>
  </ion-content>
  <div class="techito">
    <div class="te">
  <ion-input class="ter"  placeholder="Enter Input" [(ngModel)]="nuevoMensaje.mensaje"></ion-input>
  <ion-button class="agrandeti" color="success"(click)="EnviarMensaje()">ENVIAR</ion-button>
</div>


</div>
  
  
 
  
