button
{
        font-size:15px;
        font-family:Verdana,Helvetica;
        font-weight:bold;
 }
 ion-fab-button {
    width: 100px;
    height: 100px;
 }
 .costadoabajo
 {
     margin-top: 120px;
 }
 .costadoderecho
 {
     margin-left: 120px;
 }
 .costadoarriba
 {
     margin-bottom: 120px;
 }
 .costadoizquierdo
 {
     margin-right: 120px;
 }
.d
{
    font-size: 45px;
    height: 420px;
    padding-top: 80px;
    background-image:url('../../assets/qr.png');
    padding-left: 10px;

}
.ag
{
    height: 50px;
}
