.scroll {
    width: 70vh;
    height: 90vh;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 13px;
    display: block;
    margin:auto;
  }
  div
  {
      display: block;
  }
  .movedora
  {
      text-align: start;
  }
  .movedora2
  {
      text-align: end;
  }


