.bandera
{
    height: 100px;
    width: 100px;
}
.colores
{
    height: 280px;
}
.coloress
{
    height: 280px;
    border: skyblue solid 3px;
}
.imagen
{
    display: block;
    height: 200px;
    margin:auto;
    margin-top: 30px;
}
// .tres
// {
    
// }
// .cuatro
// {
//     margin-top: 7px;
// }
// .seis
// {
//     margin-top: 8px;
// }
.imagenn
{
    display: block;
    height: 180px;
    margin:auto;
    margin-bottom: 20px;
}
.imagennn
{
    padding-top: 30px;
    display: block;
    height: 240px;
    margin:auto;
    margin-bottom: 10px;
}
.ccc
{
    background-color: #625480;
}
.total
{
    width: 100%;
    height: 100%;
}
.enbloque
{
    display: inline;
}
.padingcostadoderecho
{
     padding-right: 75px;
}
.g
{
    height: 60px;
    background-color: burlywood;
}
.t
{
    width: 50px;
    height: 50px;
}
.tete
{
    margin-left: 20px;
}
