.i
{
    margin-left: 31px;
    width: 60vh;
}
.ver
{
    margin-left: 16px;
    border: black solid 1px;
    display: inline-block;
    width: 250px;
}
.ter
  {
    margin-left: 6px;
    border: black solid 1px;
    display: inline-block;
    width: 230px;
  }
  .agrandeti
  {
      width: 120px;
      height: 55px;
      padding-bottom: 7px;
  }

